<div class="jumbotron">
    <h1>Reduce JSON Traffic</h1>
    <p class="lead">This pas is to demonstrate the reduction in JSON traffic you can achieve.</p>
    <p><a href="http://blog.hompus.nl" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>